* {
	margin: 0;
	padding: 0
}
body {
	background-color: rgb(222,222,222);
}
header {  
	position: relative;
	background-color: rgb(51,51,51);
	height: 60px;
}
header img {
    height: 50px;  
    margin-top: 2px;
    margin-left: 20px;
    float: left;
}
header nav ul {  
	position: absolute;  
	right: 10px;
}
header nav ul li {      
	display: block;
	float: left;  
	height: 60px;
    padding: 20px 10px;   
    margin-bottom: 10px;
    height: inherit;
}
header nav ul li a {
	color: white;
	font-size: 15px;
	text-decoration: none;
}
header nav ul li:hover {
	background-color: red;
}
article,section,aside {
	background-color: rgb(255,255,255);  
	margin: 20px;
	padding: 20px 10px;
}
article img {
	width: 50%;
}
article h1 {
	margin: 15px 10px;
}
article h2 {
	margin: 10px;
	font-size: 18px;
	color: rgb(184,165,165);
}
article h3 {
	margin: 10px;
	font-size: 16px;
	color: rgb(184,165,165);
}
article p {
	text-indent: 2em;
}
.second ul {
	list-style-type: none;
	margin-left: 20px;
}
.picture figure img{ 
	width: 80%;   
	padding: 10px;
}
.picture figure{
	margin: 10px 30px;
	width: 20%;
	text-align: center;
	border: 1px solid rgb(222,222,222);
}
.third ol {
	margin: 10px 50px;
}
.third table caption{
	text-align: left;
}
.third table {        
	width: 100%;    
    text-align: left;
    border-collapse: collapse;
    margin: 10px 10px;
}    
.third table thead tr th {
	background-color: rgb(51,51,51);
	border:1px solid rgb(222,222,222);
	color: white;
}
.third table tbody tr td {
	border:1px solid rgb(222,222,222);
}
.third table tfoot tr td {
	background-color: rgb(204,204,204);
}
aside h2{
    margin-left: 10px;
    padding-left: 10px;
    border-left: 3px solid rgb(206,206,206);
    height:30px;
    font-size: 20px;
}
aside form {
	margin: 15px 10px;
}
aside form div {
	margin: 15px 0;
}
aside form div .tips {  
	float: left;
	width: 40%;
	text-align: right;
	padding-right: 15px;
}
aside form div p {
	margin-left: 40%;
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgb(168,168,168);
	font-size: 14px;
	padding-left: 15px;
}
aside form div textarea {
	width: 50%;
	height: 80px;
}
aside #submit:hover {
	background-color: blue;
}
aside form div #submit {
	width: 100%;
	height: 40px;
	background-color: rgb(18,143,220);
	border-radius: 10px;
	color: white;
	font-size: 100%;
}
footer {
	background-color: black;	
	color: white;
	height: 40px;
	margin-bottom: 0;
	text-align: center;
	line-height: 40px;
}